# Load split data

In [3]:
import pandas as pd 
import math
import numpy as np
import matplotlib.pyplot as plt

# load dataframes from CSV files 
from data.load_csv import load_cleaned_data, load_split_data
from data.load_csv import date as data_date, div_name

cleaned_tournament_df, cleaned_bout_df, cleaned_fencer_bio_df, cleaned_fencer_rankings_df = load_cleaned_data()
training_bouts, testing_bouts = load_split_data()

# Create Fencer-Fencer Ratings Data 

**Goal** Create ratings data in the form required by `surprise.SVD`

```user ; item ; rating ; [timestamp]``` (CSV file)

In [9]:
test = pd.DataFrame(data={'fencer_ID':[1,1,2,2,3,3], 'opp_ID':[2,3,1,3,1,2], 'rating': [5.5, 3.5, -5.5, 2.5, -3.5, -2.5]})
test
# test.to_markdown()

   fencer_ID  opp_ID  rating
0          1       2     5.5
1          1       3     3.5
2          2       1    -5.5
3          2       3     2.5
4          3       1    -3.5
5          3       2    -2.5

### Create dataframe of ratings

Example ratings dataframe:

|    |   fencer_ID |   opp_ID |   rating |
|---:|------------:|---------:|---------:|
|  0 |           1 |        2 |      5.5 |
|  1 |           1 |        3 |      3.5 |
|  2 |           2 |        1 |     -5.5 |
|  3 |           2 |        3 |      2.5 |
|  4 |           3 |        1 |     -3.5 |
|  5 |           3 |        2 |     -2.5 |